<?php include(__DIR__ . '/../basic/header.html'); ?>
<div class="row">
  <!-- search -->
  <div class="col-lg-6 mb-3">
    <div class="card border-info shadow-lg">
      <h5 class="card-header text-white text-center bg-info">借用人員</h5>
      <div class="card-body row d-flex align-items-center justify-content-center" style="height:30vh">
        <div class="col-lg-6 mb-4">
          <img src="/img/user.jpeg" width="200px" class="img-fluid img-thumbnail rounded float-left" alt="...">
        </div>
        <div class="col-lg-6 mb-4">
          <div>
            <label>職編:</label>
            <label>001</label>
          </div>
          <div>
            <label>姓名:</label>
            <label>XXX</label>
          </div>
          <div>
            <label>操作時間:</label>
            <label>2021-10-15</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card border-info shadow-lg">
      <h5 class="card-header text-white text-center bg-info">借用原料照片</h5>
      <div class="card-body row d-flex align-items-center justify-content-center" style="height:30vh">
        <div>
          <img src="/3DModel/2D.png" class="img-fluid img-thumbnail rounded float-left" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 mb-3">
    <div class="card border-info shadow-lg">
      <h5 class="card-header text-white text-center bg-info">歸還原料照片</h5>
      <div class="card-body row d-flex align-items-center justify-content-center" style="height:30vh">
        <div>
          <img src="/3DModel/2D.png" class="img-fluid img-thumbnail rounded float-left" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 mb-3 ">
    <div class="card border-info shadow-lg">
      <h5 class="card-header text-white bg-info">XXX 目前持有物料</h5>
      <div class="card-body">
        <div class="form-group form-inline justify-content-end">
          <button type="button" class="btn btn-primary mx-2">確認歸還</button>
        </div>
        <div class="table-responsive">
          <table class="table text-center" id="dataTable" style="width:100%">
            <thead>
              <tr>
                <th>領用日期</th>
                <th>品號</th>
                <th>品名</th>
                <th>規格</th>
                <th>領用數量</th>
                <th>已歸還數量</th>
                <th>未歸還數量</th>
                <th>歸還</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  2021-01-01
                </td>
                <td>
                  4020000000
                </td>
                <td>
                  铣刀
                </td>
                <td>
                  12*12
                </td>
                <td>
                  10支
                </td>
                <td>
                  5支
                </td>
                <td>
                  5支
                </td>
                <td>
                  <select class="custom-select " id="inputGroupSelect01">
                    <option selected>數量</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 mb-3 ">
    <div class="card border-info shadow-lg">
      <h5 class="card-header text-white bg-info">本次欲領用物料</h5>
      <div class="card-body">
        <div class="form-group form-inline justify-content-end">
          <button type="button" class="btn btn-primary mx-2">確認領用</button>
        </div>
        <div class="table-responsive">
          <table class="table text-center" id="dataTable" style="width:100%">
            <thead>
              <tr>
                <th>領用日期</th>
                <th>品號</th>
                <th>品名</th>
                <th>規格</th>
                <th>領用數量</th>
                <th>備註</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  2021-01-01
                </td>
                <td>
                  4020000000
                </td>
                <td>
                  铣刀
                </td>
                <td>
                  12*12
                </td>
                <td>
                  10支
                </td>
                <td>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<?php include(__DIR__ . '/../basic/footer.html'); ?>

<script>

  $(function () {

    var date = new Date();
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;
    $("#date").attr("value", today);

    h = date.getHours();
    m = date.getMinutes();
    s = date.getSeconds();
    sec = h * 3600 + m * 60 + s

    $("#time").attr("value", sec);
    formattedDate = formatSecond(sec)
    $("[name='formattedDate']").text(formattedDate);

    getZImg(formattedDate);
    getSparkImg(formattedDate);
  })
</script>