<?php include(__DIR__ . '/basic/header.html'); ?>

<div class="col-12">
    <div class="card shadow mb-4">
        <div class="card-header">
            綁定帳號
        </div>
        <div class="card-body">
            <form id="changeFrom">
                <div class="form-group">
                    <label for="inputchange">原始密碼</label>
                    <input type="password" class="form-control" name="inputchange" data-type="oldpassword" aria-describedby="passwordHelpInline" placeholder="" 
                        required>

                </div>
                <div class="form-group">
                    <label for="inputchange">密碼</label>
                    <input type="password" class="form-control" name="inputchange" data-type="password" aria-describedby="passwordHelpInline" placeholder="" 
                        required>

                </div>
                <div class="form-group">
                    <label for="inputchange">密碼確認</label>
                    <input type="password" class="form-control" name="inputchange"  data-type="password1" aria-describedby="" placeholder=""
                        required>

                </div>


                <button type="submit" class="btn btn-primary">密碼修改</button>
                <p id="divFeedback" class="text-primary"></p>
                
            </form>
        </div>
    </div>
</div>
<?php include(__DIR__ . '/basic/footer.html'); ?>
<script type="text/javascript">
    $(function(){
        $('#changeFrom').on('submit', function (e) {
            e.preventDefault();
            updatePassword();
        })
    });

    function updatePassword() {
        //   var module_id = $('#exampleFormControlSelectModule').val();
        // var moduleArr = [];
        var tmpArr = new Object();
        $('[name="inputchange"]').each(function () {
            tmpArr[$(this).data('type')] = $(this).val()
        })

        $.ajax({
            url: `/system/user/password`,
            type: 'patch',
            data: {
                tmpArr:tmpArr,
            },
            dataType: 'json',
            success: function (response) {
                if(response.status == 'success'){
                    $('#divFeedback').attr('class','text-success')
                }else{
                    $('#divFeedback').attr('class','text-danger')

                }
                $('#divFeedback').html(response.message)

            }
        });
    }
</script>